.content {
  text-align: center;
  background: #222;
}

.title {
  color: #ddd;
  font-size: 52px;
  display: inline;
}

.content-flexbox {
  text-align: center;
  display: flex;
  background: #222;
  justify-content: center;
}

.content-flexbox>div {
  border: 1px #ddd solid;
  padding: 16px 24px;
  margin: 10px;
  width: 15%;
  text-align: center;
}

.content-flexbox>div:hover {
  cursor: pointer;
  color: #222;
  background-color: #eee;
  border-color: #eee;
  opacity: 0.5;
}