.content {
  text-align: center;
  background-color: #222;
}

.title {
  color: #ddd;
  font-size: 52px;
  display: inline;
}

.icon {
  width: 80px;
}

a.icon {
  font-size: 38px;
  color: #f88192;
  text-decoration: none;
  cursor: pointer;
}

.material-icons.home {
  font-size: 48px;
  vertical-align: middle;
  padding-top: 3px;
  padding-bottom: 3px;
}

.material-icons.home:hover {
  cursor: pointer;
}