.navbar-default {
  background-color: #222;
  border: none;
  border-bottom: 2px solid;
  border-bottom-color: #000;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #ddd;
  font-size: 16px;
  border-bottom: 2px solid;
  border-bottom-color: #222;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  border-bottom: 2px solid;
  border-bottom-color: #f88192;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
  border-bottom: 2px solid;
  border-bottom-color: #f88192;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  /* border-bottom: 2px solid;
  border-bottom-color: #f88192; */
}
