<div class="flex justify-between">
  <div class="w-full">
    <section class="px-6 pt-24 pb-8">
      <div class="flex flex-col gap-6">
        <p
          class="text-sm text-accent font-medium tracking-widest uppercase mb-4 flex gap-2 items-center"
        >
          <svg data-p-icon="gauge"></svg>
          Typing Game
        </p>
        <h1 class="text-5xl md:text-7xl font-light leading-none tracking-tight mb-3">
          Who's the quickest typist?
        </h1>
        <p class="text-lg text-muted-foreground leading-relaxed font-light">
          <span class="font-medium">Rule:</span> Type the words as fast as you can. Your time will
          be recorded after you finish typing.
          <br />
          Be careful! Each backspace will add a penalty of 1 second. Limited to only 1 try per
          person. The winner will get a very cute prize.
          <span class="font-medium italic">GLHF!</span>
        </p>
      </div>
    </section>
    <section class="px-6 pt-8 pb-8">
      <div class="flex flex-col gap-6">
        @if (gameStart()) {
          <div class="flex gap-4 items-center justify-between font-mono">
            <span>
              <label> Time: </label> {{ formattedTime() }}
              @if (penaltySecs()) {
                <span class="text-destructive"> + {{ penaltySecs() }}s </span>
              }
            </span>
            <button
              pButton
              class="rounded-full px-4 py-2 border hover:bg-accent/10"
              (click)="restartGame()"
            >
              <svg data-p-icon="arrow-u-turn-up-left"></svg>Restart game
            </button>
          </div>
          <span class="font-mono"> <label>Name: </label> {{ name() }} </span>
        }
        <form class="flex flex-col relative">
          <input
            #gameInput
            pInputText
            class="border-b py-2 mx-2 font-serif text-5xl md:text-6xl leading-none tracking-tight z-2 text-transparent"
            [class]="
              (gameStart() ? '' : 'opacity-0 h-0 hover:cursor-default') +
              (gameText() ? 'caret-transparent' : 'caret-foreground')
            "
            [formControl]="gameControl"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            [placeholder]="target"
            (paste)="$event.preventDefault()"
            (keydown.backspace)="onBackspace()"
            [readOnly]="gameDone()"
          />
          <div
            class="py-2 mx-2 font-serif text-5xl md:text-6xl leading-none tracking-tight absolute top-2 z-0 truncate"
            [class]="gameStart() ? '' : 'hidden'"
          >
            @for (c of target; track idx; let idx = $index) {
              <span [class]="getBorder(idx)">
                <span [class]="getColor(idx)">{{ c }}</span>
              </span>
            }
          </div>
          <div class="flex gap-2" [class]="gameStart() ? 'opacity-0 h-0 hover:cursor-default' : ''">
            <input
              #nameInput
              pInputText
              [formControl]="nameControl"
              class="border-b py-2 mx-2 font-serif text-5xl md:text-6xl leading-none tracking-tight w-3/4"
              placeholder="Enter your name"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              [autofocus]="true"
            />
            <button
              pButton
              type="submit"
              [disabled]="!name()"
              class="text-3xl px-6 py-4 font-serif rounded-full bg-accent text-accent-foreground hover:bg-accent/85 w-1/4 disabled:bg-primary/80 disabled:opacity-50 disabled:cursor-not-allowed"
              (click)="startGame()"
            >
              Start game
            </button>
          </div>
        </form>
        @if (gameDone()) {}
        <p class="text-lg text-muted-foreground leading-relaxed font-light font-mono">
          <span class="font-medium flex items-center gap-2 mb-2"
            >Words to type <svg data-p-icon="arrow-down"></svg
          ></span>
          <span class="text-primary font-medium bg-muted-foreground/20 p-2 rounded-md mt-4"
            >Michelle Alicia Tedjasukmana's 27th birthday!</span
          >
        </p>
      </div>
    </section>
  </div>
  @if (!gameStart() || gameDone()) {
    <app-game-sidemap [results]="results()" />
  }
</div>
